.nav {
  background-color: #000;
  height: 50px;
  color: #FFF;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  font-size: 20px;
  font-family: "Helvetica";
  align-items: center;
}

.todo {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 10px;
}

.todo .hide {
  display: none;
}

.todo i {
    margin-left: 20px;
    color: red;
    background: #ccc5c5;
    border-radius: 100%;
    padding: 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.input {
  width: 50%;
  height: 50px;
  font-size: 32px;
}
.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}